:root {
    --purple: blueviolet; 
}
* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
header {
    margin: 10px;
}
header a {
    position: absolute;
    top: 20px;
    left: 5px;
    color: var(--purple);
    text-decoration: none;
}
header h3 {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--purple);
}
ul {
    list-style: none;
    padding: 5px;
    margin: 50px;
}
button {
    display: inline-block;
    font-size: 18px;
    background-color: var(--purple);
    color: white;
}
.hide {
    display: none;
}
